[submodule "MPC"]
	path = externals/MPC
	url = https://github.com/DOCGroup/MPC.git
[submodule "CIAO"]
	path = externals/CIAO
	url = https://github.com/DOCGroup/CIAO.git
	branch = master
[submodule "DAnCE"]
	path = externals/DAnCE
	url = https://github.com/DOCGroup/DAnCE.git
	branch = master
[submodule "ACE_TAO"]
	path = externals/ACE_TAO
	url = https://github.com/DOCGroup/ACE_TAO.git
	branch = master
[submodule "libexpat"]
	path = externals/libexpat
	url = https://github.com/libexpat/libexpat.git
	branch = master
[submodule "googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "benchmark"]
	path = externals/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
[submodule "wireshark"]
	path = externals/wireshark
	url = https://code.wireshark.org/review/p/wireshark.git
	branch = master
[submodule "logging-log4cxx"]
	path = externals/logging-log4cxx
	url = https://git-wip-us.apache.org/repos/asf/logging-log4cxx.git
	branch = master
[submodule "OpenDDS"]
	path = externals/OpenDDS
	url = https://github.com/objectcomputing/OpenDDS.git
	branch = master
[submodule "uncrustify"]
	path = externals/uncrustify
	url = https://github.com/uncrustify/uncrustify.git
	branch = master
[submodule "doxygen"]
	path = externals/doxygen
	url = https://github.com/doxygen/doxygen.git
	branch = master
[submodule "cppcheck"]
	path = externals/cppcheck
	url = https://github.com/danmar/cppcheck.git
	branch = master
[submodule "cucumber-cpp"]
	path = externals/cucumber-cpp
	url = https://github.com/cucumber/cucumber-cpp.git
	branch = master
[submodule "Fast-RTPS"]
	path = externals/Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
	branch = master
[submodule "opensplice"]
	path = externals/opensplice
	url = https://github.com/ADLINK-IST/opensplice.git
	branch = master
[submodule "crc32c"]
	path = externals/crc32c
	url = https://github.com/google/crc32c.git
	branch = master
[submodule "statechart"]
	path = externals/statechart
	url = https://github.com/google/statechart.git
	branch = master
[submodule "capture-thread"]
	path = externals/capture-thread
	url = https://github.com/google/capture-thread.git
	branch = current
[submodule "XSC"]
	path = externals/XSC
	url = https://github.com/DOCGroup/XSC.git
	branch = master
